@import 'reset';
body {
    background-image: linear-gradient(to bottom, #000000, #222116, #000000);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    transition: ease-in-out all 0.8s;
}
header {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .foto, .config {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px groove #fff;
        background-color: #ccc;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titulo {
        font-size: 2rem;
        font-weight: bold;
        background-image: linear-gradient(to bottom, #fffbc7, #c0af16, #445214);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    .pesquisar {
        width: 30%;
        margin:1rem;
        padding: 0.7rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: rgb(128, 128, 128);
        align-self: center;
    }
    .pesquisar::placeholder {
        color: #fff;
    }
    .all-icons {
        width: 70vw;
        height: 300px;
        margin: auto;
        margin-top: 2rem;
        overflow: hidden;

        .icons {
            height: 100%;
            width: 1000vw;
            display: flex;
            transition: all ease 0.5s;

            .icon {
                width: 250px;
                height: auto;
                text-align: center;
                background-color: rgba(216, 216, 216, 0.664);
                border-radius: 10px;
                margin: 0.5rem 0.5rem;

                .img {
                    width: 80%;
                    height: 40%;
                    background-image: url(../img/poke1.jpg);
                    background-position: center;
                    background-size: cover;
                    margin: 1rem auto;
                }
            }
        }
    }
}


